.app {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    /* Adjust margin or padding to create space for the expanded sidebar */
    margin-right: 300px; /* Equal to the width of the expanded sidebar */
  }