.signup-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 20px;
  background-color:linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(231,255,252,1) 55%, rgba(0,169,147,1) 100%);;
  border: 1px solid #000000;
  border-radius: 5px;
  
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container label {
  margin-bottom: 10px;
}

.signup-container input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.signup-container button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #0056b3;
}

.signup-container p { 
  margin: 5px;
}